DB_URL=jdbc:postgresql://localhost:5432/task_manager
DB_USER=task_manager
DB_PASSWORD=task_manager
DB_NAME=task_manager
DB_PORT=5432
SERVER_PORT=8080
APP_SECURITY_OAUTH2_CLIENT_ID=task-manager-api
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://host.docker.internal:8081/realms/task-manager
KEYCLOAK_PORT=8081
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin
